<Configuration>
  <Behavior>
    <Multi_Message>True</Multi_Message>
  </Behavior>
  <Message>
    <Message_Folder_Location>messages</Message_Folder_Location>
    <Message_Extension>txt</Message_Extension>
  </Message>
  <ZeroMQ>
    <Outbound_Connection>tcp://localhost:5555</Outbound_Connection>
    <Outbound_Connection_Type>REQ</Outbound_Connection_Type>
  </ZeroMQ>
  <Logging>
    <Log_File>hello_world.log</Log_File>
    <Log_Level>Debug</Log_Level>
  </Logging>
</Configuration>
